@font-face {
  font-family: "GilroyHeavy";
  src: url("./fonts/Gilroy-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "GilroyRegular";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GilroyLight";
  src: url("./fonts/Gilroy-Light.ttf") format("truetype");
}
.App {
  background-color: #1B1B1B;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.bannerBlurb {
  font-family: "GilroyRegular", Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 3vw;
}

.bannerContainer {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 8vh;
  min-height: 80vh;
  width: 60%;
}

.bannerTitle {
  color: white;
  font-family: "GilroyHeavy", Arial, sans-serif;
  font-size: 6vw;
  font-weight: 100;
  display: inline;
  margin: auto;
}

.landingPageContent {
  margin: 0 auto;
  width: 100%;
}

.logo {
  margin: 25px;
  height: calc(20px + 5vmin);
}

.navbarButton {
  font-family: "GilroyRegular", Arial, sans-serif;
  background-color: #E7286C;
  color: white;
  font-weight: bold;
  font-size: 19px;
  border: none;
  border-radius: 12px;
  padding: 10px;
}

.entireNavbar {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 75%;
  text-align: right;
  margin: auto;
  margin-right: 40px;
}

#button.navbar-brand {
  margin-top: none;
  margin-right: 0 !important;
}

.navbar-brand {
  color: #cccccc;
  margin-right: 10%;
  font-family: "GilroyRegular", Arial, sans-serif;
  text-decoration: none;
  font-weight: 900;
}

.clipping {
  background: linear-gradient(184deg, #e7286c, #ffffff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-size: 600% 600%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
.phonePreviewContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.6fr 0.2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 8vh;
  margin-top: 8vh;
}

[data-aos=anim1].aos-animate {
  transform: rotateY(0) translateY(20px) rotate(45deg);
  opacity: 1;
}

.animArrow {
  font-size: 225%;
  color: white;
  align-self: center;
}

.feature {
  font-size: 200%;
  color: white;
  font-family: "GilroyHeavy", Arial, sans-serif;
  font-weight: 100;
  align-self: center;
}

.iphoneScreen {
  justify-self: right;
  height: 100%;
  padding-top: 25px;
  grid-area: 1/1/4/2;
}

.arrow {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5vh;
  text-align: center;
}

.icons {
  position: absolute;
  margin: auto;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#section1 {
  position: relative;
  padding-top: 5vh;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

#section2 {
  position: relative;
  padding-top: 5vh;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.iconDescription {
  font-family: "GilroyRegular", Arial, sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 130px 450px;
  grid-template-rows: 1fr;
  margin-bottom: 10vh;
}

.iconText {
  align-self: center;
}

.square {
  border-radius: 21px;
  background: linear-gradient(145deg, #1d1d1d, #181818);
  box-shadow: 11px 11px 22px #161616, -11px -11px 22px #202020;
  position: relative;
  color: white;
  width: 100px;
  height: 100px;
}

.squareIcons {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.subheading {
  font-family: "GilroyRegular", Arial, sans-serif;
  color: white;
  font-size: 4vw;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*# sourceMappingURL=App.css.map */
