@font-face {
    font-family: 'GilroyHeavy';
    src:  url('./fonts/Gilroy-Heavy.ttf') format('truetype')
}

$fontHeavy: 'GilroyHeavy', Arial, sans-serif;
$hotPink: #E7286C;
$mattDark: #1B1B1B;

.App{
    background-color:$mattDark;
    height: 100%;

}

.bannerTitle{
    color: white;
    font-family: $fontHeavy;
}

.logo{
    margin: 25px;
}
.entireNavbar{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-right: 40px;
}