@font-face {
    font-family: 'GilroyHeavy';
    src:  url('./fonts/Gilroy-Heavy.ttf') format('truetype')
}
@font-face {
    font-family: 'GilroyRegular';
    src:  url('./fonts/Gilroy-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'GilroyLight';
    src:  url('./fonts/Gilroy-Light.ttf') format('truetype')
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

$fontHeavy: 'GilroyHeavy', Arial, sans-serif;
$fontLight: 'GilroyLight', Arial, sans-serif;
$fontRegular: 'Quicksand', sans-serif;

$hotPink: #E7286C;
$mattDark: #1B1B1B;
$off-White:#cccccc;


@mixin whiteRegularFont{
    font-family: $fontRegular;
    color: white;
}
@mixin neomorphic {
    border-radius: 21px;
    background: linear-gradient(145deg, #1d1d1d, #181818);
    box-shadow:  11px 11px 22px #161616, 
    -11px -11px 22px #202020;
}

.App{
    background-color:$mattDark;
    height: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}
.scrollPos{
    position: fixed;
    color: white;
    top: 100px;
    right: 10px;
}

@mixin bannerBlurb{
    @include whiteRegularFont();
    text-align: center;
    font-size: 2.4vw; 
}

.bannerBlurb{
    @include bannerBlurb();
}

.bannerItems{
    display: flex;
    padding-top: 2%;

}

.bannerContainer{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 8vh;
    min-height: 80vh;
    width: 90%;
}
@mixin bannerTitle{
    color: white;
    font-family: $fontHeavy;
    font-size: 5vw;
    font-weight: 100;
    display: inline;
    margin: auto;
}
.bannerTitle{
    @include bannerTitle();
}

.bannerText{
    margin-top: 4vh;
}


.landingPageContent{
    margin: 0 auto;
    width: 100%;
}
.logo{
    margin: 25px;
    height:calc(20px + 5vmin)
}
.deviceMobile{
    width: 50%;
    margin: 0 25%;
}
.navbarButton{
    @include whiteRegularFont();
    background-color: $hotPink;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    padding: 10px;;
}
.entireNavbar{
    // border-bottom: $off-White 1px solid;
    display: flex;
    justify-content: space-between;
}

.navbar{
    width: 75%;
    text-align: right;
    margin: auto;
    margin-right: 40px;
}
#button.navbar-brand {
    margin-top:none;
    margin-right: 0 !important;
}
.navbar-brand{
    color: $off-White;
    margin-right: 10%;
    font-family: $fontRegular;
    text-decoration: none;
    font-weight: 900;
}

.clipping {
    background: linear-gradient(184deg, #e7286c, #ffffff);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-size: 600% 600%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@mixin absolutePosCentering{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.phonePreviewContainer{ 
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 10% 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 8vh;
    margin-top: 8vh;
    
}

[data-aos=anim1].aos-animate {
    transform: rotateY(0) translateY(20px) rotate(45deg);
    opacity: 1;
}

.animArrow{
    font-size: 225%;
    text-align: center;
    color: white;
    align-self: center;
}
.feature{
    @include neomorphic();
    @include whiteRegularFont();
    font-size: 200%;
    font-weight: 100;
    align-self: center;
    padding: 3%;

}

.iphoneScreen{
    justify-self: right;
    height: 100%;
    padding-top: 25px;
    grid-area: 1 / 1 / 4 / 2; 
}

.arrow {
    @include absolutePosCentering();
    bottom: 5vh;
    text-align: center;
}
@mixin pageSection{
    position: relative;
    padding-top: 5vh;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

.icons {
    position: absolute;
    margin: auto;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#section1{
    @include pageSection();
}

#section2{
    @include pageSection();
}

#section3{
    @include pageSection();
}

#section4{
    @include pageSection();
    min-height:auto !important;
    margin-bottom: 15vh;
}
#biggerBuy{
    margin-top: 10%;
    font-size: 30px;
    border-radius: 20px;
}
.getStarted{
    width: 60%;
    // font-size: 78px;
}
.iconDescription{
    @include whiteRegularFont();
    display: grid;
    grid-template-columns: 130px 520px;
    grid-template-rows: 1fr;
    margin-bottom:10vh;
}

.iconText{
    align-self: center;
}

.square{
    @include neomorphic();
    position: relative;
    color: white;
    width: 100px;
    height: 100px;
}
.squareIcons{
    margin-top: 10vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.subheading{
    @include whiteRegularFont();
    font-size: 4vw;
    margin: 0;
}

.subheadingStarted{
    @include whiteRegularFont();
    font-size: 5.5vw;
    margin-bottom: 10%;
}
.inline{
    margin: 0 auto;
    display: inline;
}

.box1{
    @include whiteRegularFont();
    text-align: right;
}
.box2 {
    @include whiteRegularFont();
}
.device{
    display: flex;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-around;
    // width: 90%;
    margin-top: 15vh;
}

.jellyInUse{
    grid-area: 1 / 2 / 5 / 3;
    justify-self: center;
    @include neomorphic()
    
}
.bounce {
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}
.animatedBetter{
    color:$hotPink ;
}
.footer{
    border-top: 1px solid $off-White;
    text-align: center;
    width: 70%;
    padding: 5% 15%;
    display: flex;
    justify-content: center;
}
.footerSubs{
    // text-align: center;
    @include whiteRegularFont();
    color:$hotPink ;
}
.footerLinks{
    @include whiteRegularFont();
}
.footerDiv{
    margin: 0 4%;
}
ul{
    padding-left: 0;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.productPage{
    // width: 70%;
    max-width: 100vw;
    margin: 5vw auto;
    min-height: 90vh;
}

.productBanner{
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 80% 30%;
    grid-template-rows: repeat(1fr);
    margin-bottom: 100px;
}

.handImg{
    width:30%
}

.smallerProductText{
    font-size: 70%;
}

.productBannerText{
    @include whiteRegularFont();
    margin-top: 0;
    font-size: 5.5vw;
    text-align: left;    // width: 50%;
}
.productBannerBlurb{
    @include whiteRegularFont();
    font-size: 2vw;
     margin-right: 30%;
}
@media all and (max-width: 723px) {
    //Mobile

    .productPage{
        width: 90%;
    }

    .bannerText{
        margin: 4vh;
        text-align: center;
    }

    .bannerTitle{
        @include bannerTitle();
        text-align:center;
        font-size: 200%;
    }
    
    .bannerBlurb{
        @include bannerBlurb();
        font-size: 130%;
    }

    .iphoneScreen{
        // justify-self: right;
        width: 100%;
        padding-top: 25px;
        // grid-area: 1 / 1 / 4 / 2; 
    }
    .feature{
        font-size: 130%;
        text-align: center;
        margin: 0 3vh;
    }
    .mobileText{
        font-size: 120%;
        text-align: left;
        padding:0;
        padding-top: 3vh;
    }
    #section2{
        // margin: 0 3vh;
        min-height: auto;
        padding-top: 10vh;
        margin-bottom: 4vh;
    }
    .subheading{
        font-size: 150%;
        // margin: 0 4vh;
    }
    .iconDescription{
        width: 100%;
        margin-bottom: 5vh;
        grid-template-columns: 20% 80%;
       
    }
    .iconText{
        font-size: 100%;
        padding-left: 8%;
    }
    .square{
        
        width: auto;
        height: 70px;
    }
    .squareIcons{
        width: 90%;
    }
    .jellyInUse2{
        width: 80%;
        display: block;
        margin: 5vh auto;
    }
}



.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-dashoffset: 0;
    animation: dash 4s  forwards, move 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes move {
    
    0% {
        transform: translateX(0%);
        // animation-timing-function:ease-in-out
    }
    100% {
        transform: translateX(-100%);
        // animation-timing-function:ease-in-out
    }
}



.animation{
    animation: stroke_fill 3s ease forwards;
    stroke-dasharray: 7000;
    stroke-dashoffset: 7000; 
    stroke: $hotPink;
    stroke-width: 10;
}
.wire{
    width: 100px;
}
.wires{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
   
    min-width: auto;
min-height: auto
}

#box1{
    justify-self: right;
}
.deviceAnim {
    justify-self: center;
}



$iphoneSize : 0.85;

@mixin centerAbsolute{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.iphoneMock{
    @include neomorphic();
    background: linear-gradient(145deg, #0f0f0f, #0e0d0d);
    border-radius: 1vw;
    width: ($iphoneSize * 25vw);
    height: ($iphoneSize * 50vw);
    position: relative;
    
    grid-template-columns: repeat(2, 1fr);

    transform: rotate(25deg) translateY(10vw);
    overflow-x: hidden;
    right:-5vw;
}
.screen{
    @include centerAbsolute();
    border-radius: 1vw;
    width:($iphoneSize * 23vw);
    background-color:$mattDark;
    
    top: ($iphoneSize * 2vw);
    position: absolute;
    height: ($iphoneSize * 42vw);
    
}

.homeButton{
    @include centerAbsolute();
    border-radius: 3vw;
    position: absolute;
    bottom: ($iphoneSize * 1.5vw);
    background-color:$mattDark;
    height:  ($iphoneSize * 3vw);
    width:  ($iphoneSize * 3vw);
}

#phoneDraw{
    
    margin: ($iphoneSize * 1vw) auto;
}

.leadingGridTextPhone{
   margin-left: 15vw;
}

@keyframes rotate  {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes rotateReverse  {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}
@mixin cogAnimation{
    transform-origin: center center;
    transform-box: fill-box;
    animation: rotate 4s infinite 0s linear;
}

#cogs1{
    @include cogAnimation();
}
#cogs2{
    @include cogAnimation();
    animation: rotateReverse 4s infinite 0.8s linear;
}
.cls-1cog{fill:$hotPink; stroke-width:3;}
.cls-2cog{fill:none;stroke:$hotPink;stroke-linecap:round;stroke-miterlimit:8.03;stroke-width:2;}

.featuresGrid{
    padding-top: 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    text-align: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    // justify-items: center;
}


.horizontal {
    stroke-width: 0.1;
    stroke: #4a667a;
}

.animatedFeature{
    place-self: center;
}

